

.main{
    display: flex;
    position: relative;
    height: 619px;
    width: 99%;
    /* border: 1px solid; */
    background-color: rgb(182, 207, 207);
}
.box1{
    height: 90%;
    width: 30%;
    /* border: 1px solid; */
    display: flex;
    position: absolute;
    margin-left: 35%;
    justify-content: center;
    margin-top: 2%;
   background-color: rgb(113, 236, 236);
   border-radius: 20px;
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    opacity: 90%;

}

input{
    border-radius: 20px;
    border: 0px;

}
.input:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.input1{

}
.input:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.submit{
  margin-left: 40%;
  scale: 1.4;
}
.submit:hover{
    background-color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


